.fullpage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
   
}




.section-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/s1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    /*animation: sec1 30s infinite; */
    background-size: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--white);
    
}

.testing{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
  
}
.section-1 h1{
  
    font-size: 50px;
    padding: 0px;
   
   
    transition: all 0.9s ease-in-out;
    border-radius: 50%;
    
}

.section-1 h4{
    font-size: 20px;
    font-weight: 50;
}

.t1{
    animation: t1-animation 10s linear infinite;
}

/*@keyframes t1-animation {
    0% { transform: scale(1); }
    50% {transform: scale(1.1); }
    100% {transform: scale(1); }
  }*/




.section-2 h1{
    display: flex;

    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 50;
  
    line-height: 50px;
    color: var(--black);
    padding: 0px;
    font-size: 25px;
 
    width: 50%;
    
    

}
.section2{
    display: flex;
    height: 100vh;
    background-color: var(--white);
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-attachment: fixed;
    background-size: cover;
    background-image: url(images/plant5.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 40% 100%;
     margin: 50px;
   border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
    justify-content: center;
    align-items: center;
    
}
.section3{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/salu.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--bar);
    transition: all 1s ease-in-out;
    text-shadow: 5px 5px 5px black;
    margin:0px;
    padding:0px;
    cursor: default;
    background-color: black;
    color:  #eeecd4;
}

.section-3 li{
    list-style: none;
    text-align: center;
    margin: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    
    
}

.section-3 p{
    font-size: 20px;
    padding:0;
    
}

.beauty, .food , .buda ,.health{
    opacity: 0;
    transition: opacity 1s;
}
.pp,.sp,.tp,.cp{
    transition: opacity 1s;

}


.pp, .sp,.tp,.cp{
    opacity: 0.2;
}
.pilares{
    padding-top: 30px;
    padding-bottom: 35px;
}

.section4{
    
    display: flex;
    height: 100vh;
    background-color: var(--grey);

    margin-bottom: 50px;
    margin-top: 50px;
    
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    align-items: center;
    margin: 50px;
    font-style: bold;
  
    
    
}

.imgplant{
    height: 100%;
    width: 40%;
}

.section-4 h1{
    display: flex;
    align-self: center;
    text-align: center;
    margin-left: 100000px;

    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 50;
    
    line-height: 50px;
    color: var(--white);

    padding: 0px;
    margin: 0px;
    font-size: 30px;
   
  
    

}

@keyframes fadeinphoto {
    0% { background-size: 100%;}
    50% { background-size: 110%; }
    100% {background-size: 100%; }
}

@keyframes sec1 {
    0% { background-size: 100%;}
    50% { background-size: 120%;}
    100% { background-size: 100%;}

}


.section5{
    margin-bottom: 150px;
}


.section-5{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    font-family: 'Montserrat Alternates', sans-serif; 
    background-color: white;
    background-image: url(images/plant2.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    color: black;
    transition: all .3s;
    margin: 50px;

    
}

.section5 img{
    height: 70%;
    width: 50%;
    padding-top: 30px;
    
    
  
}
.section5 li{
    text-decoration: none;
    list-style: none;
    cursor: default;
 
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.section5 p{
    display: flex;
    
    text-align: center;
    width: 65%;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pile img, .medi img, .loca img, .spa img{
    height: 30px;
    width: 30px;
    opacity: 0;
}
.loca img{
    opacity: 1;
}
.pile, .medi, .spa{
    opacity: 0.4;
}

.imgsec5{
    margin-top: 50px;
    height: 500px;
    width: 50%;
    background-image: url(images/location.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .5s;
    margin-bottom: 10px;
    

}

.imgsec5:hover{
    background-size: 110% 110%;
    transition: all .5s;

}

.widthp{
    width: 800px;
}

footer{
    
    background-color: var(--black);
    width: 100%;
    background: linear-gradient(to left, #24145b, #f0edc9);
    background-image: url(images/plant.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  cover;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 35px;
    
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
 
}
.logofoot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;

    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  
    justify-content:space-evenly;
  

   

}



.log{
    height: 130px;
    width: 130px;
    padding-bottom: 50px;
}
.col3, .col4{
    color: white;
}

.col1, .col2{
    color: white;

}

footer h2{
    text-decoration: overline;
    
}


.col3 li{
    
    list-style: none;
    padding-top: 15px;

    
    
    
    
    
}
.col3 h2{
    align-self: center;
}

.col4{
    font-size: 13px;
}

@media (max-width: 750px) {
    .fullpage{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        
 
        
    }
    
    
    
    
    .section-1{
       
        background-color: var(--black);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-image: url(images/s1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh; 
       background-size: cover;
       
        font-family: 'Montserrat Alternates', sans-serif;
        color: var(--white);
        
    }
    
    .testing{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
       
    }
    .section-1 h1{
      
        font-size:40px;
        padding: 0px;
       
       
     
        border-radius: 50%;
        
    }
    
    .section-1 h4{
        font-size: 15px;
        font-weight: 50;
    }
    

    
    
    
    .section-2 h1{
        height: 100%;
        display: flex;
        
     align-items: center;
     justify-content: center;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 50;
      width: auto;
        line-height: 35px;
        color: white;
        padding: 0px;
        font-size: 15px;
        padding-left: 25px;
         padding-right: 25px;
     
        
        
        
    
    }
    .section2{
        display: flex;
        height: 100vh;
        background-color: var(--white);
        /*background-attachment: fixed;*/
        background-attachment: fixed;
        background-image: url(images/plant5.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
         margin: 50px;
       border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        border-top-left-radius: 250px;
        justify-content: center;
        align-items: center;
        
    }
    .section3{
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(images/salu.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--bar);
        transition: all 1s ease-in-out;
        text-shadow: 5px 5px 5px black;
        margin:0px;
        padding:0px;
        cursor: default;
        background-color: black;
        color:  #eeecd4;
    }
    
    .section-3 li{
        list-style: none;
        text-align: center;
        margin: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 35px;
        
        
    }
    
    .section-3 p{
        font-size: 15px;
        padding:0;
        
    }
    
    .beauty, .food , .buda ,.health{
        opacity: 0;
        transition: opacity 1s;
    }
    .pp,.sp,.tp,.cp{
        transition: opacity 1s;
    
    }
    
    
    .pp, .sp,.tp,.cp{
        opacity: 0.2;
    }
    .pilares{
        padding-top: 30px;
        padding-bottom: 35px;
    }
    
    .section4{
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        height: 100vh;
        background-color: var(--grey);
        align-items: center;
        
        font-style: bold;
      
        
        
    }
    
    .imgplant{
        height: 100%;
        width: 40%;
    }
    
    .section-4 h1{
        display: flex;
        align-self: center;
        text-align: center;
       
    
        
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 50;
        
        line-height: 50px;
        color: var(--white);
    
        padding: 0px;
        margin: 0px;
        font-size: 25px;
        
    
    }
    

    
    .section5{
        margin-bottom: 50px;
    }
    
    
    .section-5{
        height: 100vh;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0;
        justify-content: center; 
        font-family: 'Montserrat Alternates', sans-serif; 
        background-color: white;
        background-image: url(images/plant2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        transition: all .3s;
        font-size: 14px;
       
    
        
    }
    
    .section5 img{
        height: 100%;
        width: 100%;
        padding-top: 0px;
        margin: 0px;
        padding: 0;
        
        
      
    }
    .section5 li{
        text-decoration: none;
        list-style: none;
        cursor: default;
      
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .imgsec5 img{
        width: 50px;
        height: 50px;
        background: rgba(0, 0, 0, 0.8);

        
    }
    .arrow2{
        transform: rotate(180deg);
    }
    
    
    .section5 .p1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
        line-height: 25px;
        margin: 0px;
        padding: 0;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        padding-top: 15px;
        padding-bottom: 15px;
     
    }
    .section5 .word{
        display: flex;
       
        text-align: center;
        width: auto;
        letter-spacing: 1px;
        margin: 0px;
        padding: 0;
        color: white;
        font-style: bold;
        background: rgba(0, 0, 0, 0.8);
        text-transform: uppercase;
        padding-top: 18px;
        text-decoration: overline;
        font-size: 18px;
        
        
     

    }
    
    .pile img, .medi img, .loca img, .spa img{
        height: 10px;
        width: 10px;
        opacity: 0;
        margin: 0px;
        padding: 0;
    }
    .loca img{
        opacity: 1;
    }
    .pile, .medi, .spa{
        opacity: 0.4;
    }
    
    .imgsec5{
        display: flex;
        
        margin: 0px;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        height: 70%;
        width: 100%;
        background-image: url(images/location.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s;
        color: black;
        text-decoration: none;
        list-style: none;
    

        
    
    }

    
    .imgsec5:hover{
        background-size: cover;
        transition: all .5s;
    
    }
    
    .widthp{
        width: auto;
    }
    
    footer{
        
        background-color: var(--black);
        width: 100%;
       
        background-image: url(images/plant.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size:  cover;
        text-shadow: 5px 5px 5px black;
        padding-bottom: 35px;
        color: white;
        border-top-left-radius: 125px;
        border-top-right-radius: 125px;
        font-size: 15px;
        font-family: 'Montserrat Alternates', sans-serif;
     
    }
    .logofoot{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .row{
        display: flex;
    
        width: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        color: white;
        justify-content:space-evenly;
      
    
       
    
    }
    
    .log{
        height: 130px;
        width: 130px;
        padding-bottom: 50px;
    }

    
    footer h2{
        text-decoration: overline;
        
        
    }
 
    .col3 li{
        
        list-style: none;
        padding-top: 15px;

    
        
        
        
        
        
    }
    .col3 h2{
        align-self: center;
    }
    
    .col4{
        font-size: 13px;
    }

}